<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Experience</h2>
        <h3 class="section-subheading text-muted">The short story about me.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/education.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2014</h4>
                <h4 class="subheading">Started Bachelor's Degree in ICT at The Royal Institute of Technology (KTH)</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I began my Bachelor's Degree in Information and Communication Technology back in 2014. During this time I built a well rounded foundation with courses varying from hardware, software to industrial management and sustainability.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/exchange.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2016-2017</h4>
                <h4 class="subheading">Exhange Semester at The Chinese University Of Hong Kong</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I've always been interested in other cultures and my curiosity led me to apply for an exchange semester during the first half of my last year of Bachelor's. As there were a limited number of students the school sent on exchange each year academic results were taken into account. I managed to get the possibility to travel to Asia to attend one semester at The Chinese University of Hong Kong (CUHK), which is in the top 10 of Universities in Asia. During my time in Hong Kong I got to familiarise myself with how to adapt to other cultures, using academic english on a regular basis and working in Projects with students from all over the world.</p>
              </div>
            </div>
          </li>
          <li class="slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/education.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2017</h4>
                <h4 class="subheading">Finished Bachelor's Degree in ICT at The Royal Institute of Technology (KTH)</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">In June of 2017 I completed my Bachelor's Degree in ICT at The Royal Institute of Technology (KTH). </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/education.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2017</h4>
                <h4 class="subheading">Started Master's Degree in Computer Science at The Royal Institute of Technology (KTH)</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">I began my Master's Degree in Computer science in the fall of 2017. I choose the track Data analysis, with the subtrack Machine Learning. I have been interested in what data can do and what it can tell us since my Bachelor, so this was an excellent opportunity to explore the field even more. I also took up a side-interest of Web Development to further extend my techical knowledge horizontally.</p>
              </div>
            </div>
          </li>

          <li class="slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/work_2.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2018</h4>
                <h4 class="subheading">Joined the startup asqill founded at KTH Innovation</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">In the fall of 2018 I joined a startup called asqill. My first responsibility in the company revolved around business relations including communicating with companies over mail and phone as well as in person. I then progressed towards a role as a developer, helping the company develop extra functionality to their existing platform together with documentation work.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/education.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2019</h4>
                <h4 class="subheading">Graduating Master's Degree in Computer Science at KTH</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">In the summer of 2019 I expect to graduate with a Master's Degree in Computer Science. Although the years of studying has been a challenge I am extremely excited about what the future might bring. During my Master's I have really come to know the meaning of "continous learning". For me it translates to "The more you learn about a field, the more you realize that you do not know". There is an ocean of knowledge out there and I am looking forward to diving in.</p>
              </div>
            </div>
          </li>

          <li class="timeline slideanim">
            <div class="timeline-image">
                <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/work_.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2019</h4>
                <h4 class="subheading">Analyst at Netlight</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">At the end of my Master's I was offered a job oppotunity at Netlight, a IT-consultant firm. The work will involve working towards offering knowledge and expertise to a wide variety of customers in the IT and Technlogy sector.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
