<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Experience</h2>
        <h3 class="section-subheading text-muted">The short story about me.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li class="slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/education.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2014</h4>
                <h4 class="subheading">Started Bachelor's Degree in ICT at KTH</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium
                  consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/exchange.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2016-2017</h4>
                <h4 class="subheading">Exhange Semester at The Chinese University Of Hong Kong</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium
                  consectetur!</p>
              </div>
            </div>
          </li>
          <li class="slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/education.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2017</h4>
                <h4 class="subheading">Finished Bachelor's Degree in ICT at KTH</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium
                  consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/education.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2017</h4>
                <h4 class="subheading">Started Master's Degree in Computer Science at KTH</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium
                  consectetur!</p>
              </div>
            </div>
          </li>

          <li class="slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/work_2.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2018</h4>
                <h4 class="subheading">Joined the startup asqill founded at KTH Innovation</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium
                  consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted slideanim">
            <div class="timeline-image">
              <img style="width: 50%; height: 50%; top:0; left:0; transform: translate(50%, 50%);" class="img-circle img-responsive" src="img/about/education.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2019</h4>
                <h4 class="subheading">Graduating Master's Degree in Computer Science at KTH</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium
                  consectetur!</p>
              </div>
            </div>
          </li>
          <!--
          <li class="timeline-inverted slideanim">
            <div class="timeline-image">
              <h4>Stay
                <br>Tuned!
              </h4>
            </div>
          </li>
          -->
        </ul>
      </div>
    </div>
  </div>
</section>
